# Directorio de construcción
build/
dist/
*.egg-info/

# Entorno virtual
.venv/
.env/

# Configuración de IDEs
.idea/
.vscode/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

